@charset "utf-8";
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
body {
	margin: 45px auto;
	max-width: 84.81%;
	line-height: 1.4;
	padding: 0 25px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.img {
	border: thin outset #F4380E;
	text-align: center;
	align-content: center;
	max-width: 100%;
	width: auto;
	height: auto;
}
.subtitle {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform: none;
	font-weight: bolder;
	color: #FFFFFF;
    background: rgb(255,48,25);
    background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
    background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	letter-spacing: normal;
	padding: 8px;
	border: thin outset #F4380E;
	height: auto;
	width: auto;
	margin-top: 12px;
	margin-bottom: 12px;
}
.title {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bolder;
	text-transform: capitalize;
	position: inherit;
	background-color: white;
	padding-top: 15px;
}
.subtext {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.nav {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background: rgb(255,48,25);
    background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
    background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	color: #FFFFFF;
    margin-top: 5px;
	max-width: 85%;
    position: fixed;
    top: 0;
	height: auto;
	width: auto;
	border: thin outset #F4380E;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    table-layout: auto;
    width: 100%; 
	height: 50px;
	box-sizing
}

.navbar {
	text-decoration: none;
	text-transform: none;
	color: white;
}
.links {
	text-decoration: none;
	background-attachment: fixed;
	background-position: left;
}

.subsubtitle {
	font-size: 24px;
	border-style: none;
	border-color: #000000;
	padding-top: 6px;
	padding-bottom: 6px;
}
.list {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 2.1;
}
.toplinks {
	text-decoration: none;
	background-attachment: fixed;
	background-position: left;
}
.bvnwlink {
	text-decoration: none;
	background-attachment: fixed;
	background-position: left;
}
.topsubtitle {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform: none;
	font-weight: lighter;
	color: #FFFFFF;
	background: rgb(255,48,25);
	background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	letter-spacing: normal;
	padding: 8px;
	border: thin outset #F4380E;
	height: auto;
	width: auto;
	margin-top: 12px;
	margin-bottom: 24px;
	float: right;
}
.top2subtitle {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform: none;
	font-weight: lighter;
	color: #FFFFFF;
	background: #7a4e8e;
background: -webkit-linear-gradient(#7a4e8e 0%, #73378e 44%, #712b90 100%);
background: -o-linear-gradient(#7a4e8e 0%, #73378e 44%, #712b90 100%);
background: linear-gradient(#7a4e8e 0%, #73378e 44%, #712b90 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a4e8e', endColorstr='#712b90',GradientType=0 ); /* IE6-9 */
	letter-spacing: normal;
	padding: 8px;
	border: thin outset #7a4e8e;
	height: auto;
	width: auto;
	margin-top: 12px;
	margin-bottom: 24px;
	float: left;
}
