@charset "utf-8";
/* CSS Document */
html *
body {
	margin: 45px auto;
	max-width: 950px;
	line-height: 1.6;
	font-size: 18px;
	color: #1B1B1B;
	padding: 0 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
h1, h2, h3 {
	line-height: 1.2
}
.pagetitle {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.copyright {
}
.heading {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	background-color: #000000;
	padding: 7px;
	color: #FFFFFF;
}
.img {
}

body {
	margin: 45px auto;
	max-width: 950px;
	line-height: 1.6;
	font-size: 18px;
	color: #3B3B3B;
	padding: 0 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.navbar {
	background-color: #000000;
	border: thin none #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	padding: 4px;
	overflow: auto;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
.citation {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
	text-decoration: overline;
	color: #3B3B3B;
}
.anchor {
}
